<div class="container-fluid">
  <nav class="navbar navbar-dark bg-light row">
    <div class="col-3">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false"><span class="navbar-toggler-icon"></span>
          Danh sách sản phẩm
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li>
            <div class="dropdown-item" href="https://mediamart.vn/soundbar">
              <img class="icon" src="https://cdn.mediamart.vn/images/menu/tivi-loa---am-thanh_51500480.png"
                   alt=""> Tivi</div>
          </li>
          <li><a class="dropdown-item" href="https://mediamart.vn/laptop?f=laptop-gaming"><img class="icon"
                                                                                               src="https://cdn.mediamart.vn/images/menu/laptop-laptop-gaming_82186093.png"
                                                                                               alt=""> Máy
            tính</a></li>
          <li><a class="dropdown-item" href="https://mediamart.vn/may-giat"><img class="icon"
                                                                                 src="https://cdn.mediamart.vn/images/menu/may-git-may-sy-qun-ao_b8027e4e.png"
                                                                                 alt=""> Máy giặt</a></li>
          <li><a class="dropdown-item" href="#"><img class="icon"
                                                     src="https://cdn.mediamart.vn/images/menu/sinh-t---ep---trn_c4590e67.jpg"
                                                     alt=""> Máy sinh tố</a></li>
          <li><a class="dropdown-item" href="#"><img class="icon"
                                                     src="https://cdn.mediamart.vn/images/menu/qut-mat---qut-diu-hoa_e4955f46.jpg"
                                                     alt=""> Máy quạt</a></li>
          <li><a class="dropdown-item" href="https://mediamart.vn/dieu-hoa-nhiet-do"><img class="icon"
                                                                                          src="https://cdn.mediamart.vn/images/menu/diu-hoa-nhit-d_f3477983.png"
                                                                                          alt=""> Điều hòa</a>
          </li>
          <li><a class="dropdown-item" href="#"><img class="icon"
                                                     src="https://cdn.mediamart.vn/images/menu/span-stylecolor0033ff-importantni-com-dinspan_6a027121.jpg"
                                                     alt=""> Nồi cơm điện</a></li>
        </ul>
      </div>
    </div>
    <div class="col-9">
      <div style="display: flex; margin-left: 20px">
        <div class="w-15 text">

          <input id="macBook" type=checkbox>
          <label for="macBook">
            <img style="width: 5rem;margin-bottom: 7px;margin-left: 10px" src="https://cdn.mediamart.vn/images/brand/macbook-TmlD01.png"
                 alt="">
          </label>
        </div>
        <div class="w-15 text1 mx-4">
          <input id="dell" type=checkbox (click)="checkboxSearch(1)">
          <label for="dell">
            <img style="width: 5rem;" src="https://cdn.mediamart.vn/images/brand/dell-yj75Y9.png" alt="">
          </label>
        </div>
        <div class="w-15 text1 mx-4">
          <input id="acer" type=checkbox>
          <label for="acer">
            <img style="width: 5rem" src="https://cdn.mediamart.vn/images/brand/acer-s3VgjW.png"
                 alt="">
          </label>
        </div>
        <div class="w-15 text1 mx-4">
          <input id="lenovo" type=checkbox>
          <label for="lenovo">
            <img style="width: 5rem" src="https://cdn.mediamart.vn/images/brand/lenovo-3m52fa.png"
                 alt="">
          </label>
        </div>
        <div class="w-15 text1 mx-4">
          <input id="asus" type=checkbox>
          <label for="asus">
            <img style="width: 5rem" src="https://cdn.mediamart.vn/images/brand/asus-VNp1C8.png"
                 alt="">
          </label>
        </div>
        <div class="w-15 text1 mx-4">
          <input id="hp" type=checkbox>
          <label for="hp">
            <img style="width: 5rem" src="https://cdn.mediamart.vn/images/brand/hp-J2CPpQ.png"
                 alt="">
          </label>
        </div>
      </div>
    </div>

  </nav>

</div>

<div class="container" style="justify-content: center; width: 55%">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img style="height: 700px"
             src="https://cdn.mediamart.vn/images/product/laptop-dell-inspiron-3510-n5030_539bb229.webp"
             class="d-block w-100">

      </div>
      <div class="carousel-item">
        <img style="height: 700px"
             src="https://cdn.mediamart.vn/images/product/laptop-laptop-dell-inspiron-3510-n5030_6f202d27.webp"
             class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img style="height: 700px"
             src="https://cdn.mediamart.vn/images/product/laptop-laptop-dell-inspiron-3510-n5030_54932f16.webp"
             class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


<div class="container" style="margin-bottom: 30px">
  <div class="row">
    <div class="col-3 my-3"
    *ngFor="let tem of ListProduct"
    (click)="getIdProduct(tem.id)" >
      <div class="card" style="width: 100%;align-items: center;position: relative">
        <div style="position: absolute; top: 0 ; right: 0"><img style="width: 5rem;" src="{{tem.category.logo}}" alt=""></div>
        <div style="height: 200px">
        <img style="height: 100%" src="{{tem.image}}"
             class="card-img-top">
        </div>
        <div class="card-body">

          <div style="height: 90px">
            <h5 class="card-title">{{tem.name }}</h5>
          </div>
          <div>
          <b class="card-text" style="color: #c5232b;"> {{tem.price | number }}<sup><u>đ</u></sup></b><br>
          <del >{{tem.price+2000000 |number}}<sup><u>đ</u></sup></del>
          </div>

<!--          <button (click)="buyProduct()" class="btn btn-primary">Mua ngay</button>-->
<!--          <button (click)="buyProduct()" class="btn btn-primary">Thêm vào giỏ hàng</button>-->
        </div>
      </div>
    </div>
  </div>
</div>
