<div class="container">
  <h3 style="margin: 20px 20px">Giỏ hàng</h3>
  <div class="row">
    <div class="col-8">

      <div class="row" *ngFor="let tem of listCart">
        <hr>
        <div class="col-3" style="justify-content: center">

          <img style="width: 70%"
               src="{{tem.product.image}}"
               alt="">

          <div style="margin-left: 22%;margin-bottom:10% ">
            <button class="btn btn-danger" style="font-size:100% " (click)="deleteCart(tem)"> X</button>
          </div>
        </div>
        <div class="col-9">
          <p>{{tem.product.name}}</p>
          <p class="card-text " style="color: darkred;">{{tem.product.price|number}}<u>đ</u>
            <del style="margin:8px 8px">{{tem.product.price+2000000|number}}<sup><u>đ</u></sup></del></p>

          <div style="display: flex;border: 0px">
            <button class="btn btn-custom btn-secondary" (click)="subtraction(tem.product)"> -</button>
            <input  value="{{tem.quality}}" class="customInput"
                   style="width: 35px; z-index:-100; border-radius: 0px;border-color: #6c757d;text-align: center" readonly>
            <button class="btn btn-custom btn-secondary" (click)="plus(tem.product)"> +</button>
          </div>
        </div>
      </div>
      <h3>Ghi chú đơn hàng</h3>
      <textarea style="width: 100%"></textarea>


    </div>
    <div class="col-4">
      <table class="table table-hover">

        <tr>
          <th colspan="4" style="text-align: center">TÓM LƯỢC ĐƠN HÀNG</th>

        </tr>


        <tr>
          <th scope="row">Thành tiền</th>
          <td>{{total|number}}<sup><u>đ</u></sup></td>
        </tr>


        <tr>
          <th scope="row">Giảm giá</th>
          <td>200.000</td>

        </tr>
        <tr style="border-top-color: black">

          <th scope="row">Tổng cộng</th>
          <td>{{total-200000|number}}<sup><u>đ</u></sup></td>
        </tr>

      </table>
      <button style="width: 100%;font-size: 150%;background-color: #e83e8c" class="btn text-white p-2"><b>Mua
        nhanh</b></button>
      <h2 style="text-align: center">Hoặc</h2>
      <button style="width: 100%;font-size: 150%;background-color: #e83e8c" class="btn text-white p-2"><b>Đăng
        nhập mua hàng</b></button>
      <p class="my-2">Mã giảm giá</p>
      <div >
        <input type="text" placeholder="Nhập mã giảm giá" style="margin-right: 10px">
        <button class="btn btn-primary"style="height: 30px;padding-top: 1px;color: black">Áp dụng</button>
      </div>

    </div>
  </div>


</div>
