
<div class="container">
  <h4 style="margin: 20px 10px">{{product.name}}</h4>
  <hr>
  <div class="row">
    <div class="col-6">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img style="height: 400px" src="{{product.image}}"
                 class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img style="height: 400px" src="https://hdradio.vn/upload/hinhanh/loa-di-dong/jbl/party-box-1000/am-thanh-manh-me-cua-loa-jbl-party-box-1000.jpg?1583402127170"
                 class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img style="height: 400px" src="{{product.image}}"
                 class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <p>Model: <b>{{product.name}}</b> - Mã hàng: 102038</p>
        <p>Bảo hành: <b> 12 tháng </b></p>
        <div style="display: flex" class="d-flex">
          <h3 style="color: red">{{product.price|number}} <sup><u>đ</u></sup></h3> <del style="margin:8px 8px">{{product.price+2000000|number}}<sup><u>đ</u></sup></del>
        </div>
        <div>
          <button (click)="checkCart()" class="btn btn-danger w-100" style="height: 60px">Mua ngay <br>(Giao tận nơi - giá tốt - an
            toàn)
          </button>
        </div>
      </div>
      <div class="row mt-3">
        <div>
          <button (click)="addCart(product)" class="btn btn-warning w-100">Thêm vào giỏ hàng  </button>
        </div>
      </div>

    </div>
  </div>
  <div>
    <h3 style="color: #e83e8c">Giới thiệu</h3>
    <hr class="hr2" style="background-color: yellow">
  </div>
  <div style="margin-bottom: 100px">
    <p>{{product.description}}</p>
  </div>
</div>
