
<div class="container">
  <h4 style="margin: 20px 10px">Loa Karaoke di động Bluetooth JBL PARTYBOX 310</h4>
  <hr>
  <div class="row">
    <div class="col-6">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://vn-live-01.slatic.net/p/6117fb1058a9b68c38232a48b4fe1222.jpg"
                 class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://hdradio.vn/upload/hinhanh/loa-di-dong/jbl/party-box-1000/am-thanh-manh-me-cua-loa-jbl-party-box-1000.jpg?1583402127170"
                 class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://baochauelec.com/cdn1/images/202009/goods_img/loa-jbl-partybox-300-P3304-1598934912590.jpg"
                 class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <p>Model: <b>PARTYBOX360</b> - Mã hàng: 102038</p>
        <p>Bảo hành: <b> 12 tháng </b></p>
        <div style="display: flex" class="d-flex">
          <h3 style="color: red">15.900.000 <sup><u>đ</u></sup></h3> <del style="margin:8px 8px">17.800.000<sup><u>đ</u></sup></del>
        </div>
        <div>
          <button class="btn btn-danger w-100" style="height: 60px">Mua ngay <br>(Giao tận nơi - giá tốt - an
            toàn)
          </button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <button class="btn btn-warning w-100">TRẢ GÓP <br>(Công ty tài chính) </button>
        </div>
        <div class="col-6">
          <button class="btn btn-warning w-100">AlePay - TRẢ GÓP QUA THẺ <br>(Visa, Master, JCB)</button>
        </div>
      </div>

    </div>
  </div>
  <div>
    <h3 style="color: #e83e8c">Giới thiệu</h3>
    <hr class="hr2" style="background-color: yellow">
  </div>
  <div style="margin-bottom: 100px">
    <b style="font-size: 1.5rem">Loa JBL PartyBox 310 - Loa bluetooth âm thanh ấn tượng, đèn LED nhiều màu</b>
    <p>JBL PartyBox 310 là một sản phẩm đến từ thương hiệu JBL chất lượng với chất âm mạnh mẽ, hiệu ứng ánh sáng độc đáo. JBL PartyBox 310 hứa hẹn mang đến cho người dùng trải nghiệm âm thanh tuyệt vời.</p>
    <b style="font-size: 1.5rem">Thiết kế nhỏ gọn – đèn LED màu sắc bắt mắt – chân kéo tiện lợi</b>
    <p>Loa JBL PartyBox 310 là một phiên bản nâng cấp của PartyBox 200. Loa với thiết kế nhỏ gọn, kết hợp với đó là thiết kế chân kéo tiện lợi. Nhờ đó, loa rất dễ dàng di chuyển, mang theo khi du lịch, cắm trại, kể cả những bạn nữ.

      Phía chính nổi bật với hai vàng loa được trang bị hệ thống ánh sáng LED RGB có thể thay đổi hệ thống màu sắc với nhiều chế độ khác nhau như Meter, Pulse và Party Mode. Nhờ đó mang đến không gian âm nhạc sống động, như ở trong một bữa tiệc lớn.</p>
  </div>
</div>
