<div class="container-fluid" style="background: #e83e8c">
  <div>

    <div class="row " style="height: 90px;align-items: center">
      <div class="col-2" style="justify-content: center">
        <img

          style="width: 65%;height:105px" src="../../assets/img/sự kiện trực tuyến tuyệt vời (2).png"
                                               alt=""
                                              >
      </div>
      <div class="col-2">
        <div class="row">
          <div class="col-2 my-3">
            <i style="font-size: 20px;color: white ; float: left" class="fa-solid fa-phone"></i>
          </div>
          <div class="col-10 text">
            <b>070 272 1099</b><br>
            <span>Tư vấn </span>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="row">
          <div class="col-2 my-3">
            <i style="font-size: 20px;color: white ; float: left" class="fa-solid fa-location-dot"></i>
          </div>
          <div class="col-10 text">
            <a href="" class="text">
              <b>295 Nguyễn Tất thành</b><br>
              <span>Mở của 9:00 - 21:30</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-2 text">
        <a routerLink="/cart"><i class="fa-solid fa-bag-shopping " style="font-size: 25px"></i>
        <span>Giỏ hàng</span>
        </a>
      </div>
      <div class="col-3" style="display: flex;align-items: center">
        <input class="form-control form-control-sm w-50 " type="text" placeholder="Bạn tìm gì ..."
               aria-label=".form-control-sm example"><a href="" class="text "><i
        class="fas fa-search mx-3 "></i></a>
        <div class=" text">
          <a routerLink="/login" class="text">
            <b>Đăng nhập</b><br>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="container-fluid">
  <nav class="navbar navbar-dark bg-dark row">
    <div class="col-3">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false"><span class="navbar-toggler-icon"></span>
          Danh sách sản phẩm
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="https://mediamart.vn/soundbar"><img class="icon"
                                                                                 src="https://cdn.mediamart.vn/images/menu/tivi-loa---am-thanh_51500480.png"
                                                                                 alt=""> Tivi</a></li>
          <li><a class="dropdown-item" href="https://mediamart.vn/laptop?f=laptop-gaming"><img class="icon"
                                                                                               src="https://cdn.mediamart.vn/images/menu/laptop-laptop-gaming_82186093.png"
                                                                                               alt=""> Máy
            tính</a></li>
          <li><a class="dropdown-item" href="https://mediamart.vn/may-giat"><img class="icon"
                                                                                 src="https://cdn.mediamart.vn/images/menu/may-git-may-sy-qun-ao_b8027e4e.png"
                                                                                 alt=""> Máy giặt</a></li>
          <li><a class="dropdown-item" href="#"><img class="icon"
                                                     src="https://cdn.mediamart.vn/images/menu/sinh-t---ep---trn_c4590e67.jpg"
                                                     alt=""> Máy sinh tố</a></li>
          <li><a class="dropdown-item" href="#"><img class="icon"
                                                     src="https://cdn.mediamart.vn/images/menu/qut-mat---qut-diu-hoa_e4955f46.jpg"
                                                     alt=""> Máy quạt</a></li>
          <li><a class="dropdown-item" href="https://mediamart.vn/dieu-hoa-nhiet-do"><img class="icon"
                                                                                          src="https://cdn.mediamart.vn/images/menu/diu-hoa-nhit-d_f3477983.png"
                                                                                          alt=""> Điều hòa</a>
          </li>
          <li><a class="dropdown-item" href="#"><img class="icon"
                                                     src="https://cdn.mediamart.vn/images/menu/span-stylecolor0033ff-importantni-com-dinspan_6a027121.jpg"
                                                     alt=""> Nồi cơm điện</a></li>
        </ul>
      </div>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-2 text1">Tivi</div>
        <div class="col-2 text1">Tủ lạnh</div>
        <div class="col-2 text1">Điều hòa</div>
        <div class="col-2 text1">Gia dụng</div>
        <div class="col-2 text1">Điện thoại</div>
      </div>
    </div>

  </nav>

</div>
