<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->

    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">

          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control"/>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Đăng ký
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
        class="fab fa-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 style="color: #e83e8c" class="text-uppercase">Theo dõi trên</h5>
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
            class="fab fa-instagram"></i></a>
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
            class="fab fa-google"></i></a>
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
            class="fab fa-facebook-f"></i></a>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 style="color: #e83e8c" class="text-uppercase">Thông tin MediaMart</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Hệ thống 350 Siêu thị (8:00-21:30)</a>
            </li>
            <li>
              <a href="#!" class="text-white">Giới thiệu công ty</a>
            </li>
            <li>
              <a href="#!" class="text-white">Tuyển dụng</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 style="color: #e83e8c" class="text-uppercase">Hỗ trợ khách hàng</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Hướng dẫn mua hàng Online</a>
            </li>
            <li>
              <a href="#!" class="text-white"> Mua hàng trả góp</a>
            </li>
            <li>
              <a href="#!" class="text-white">Chính sách bảo hành, đổi trả</a>
            </li>
            <li>
              <a href="#!" class="text-white"> Giao hàng và lắp đặt</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 style="color: #e83e8c" class="text-uppercase">Tổng đài hỗ trợ</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Bán hàng: 1900 6788</a>
            </li>
            <li>
              <p>Khiếu nại, Bảo hành: 1900 6741 </p>
            </li>

          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Công ty Cổ phần MEDIAMART Việt Nam
    <a class="text-white" href="https://codegym.vn/">CodeGym Đà Nẵng</a>
  </div>
  <!-- Copyright -->
</footer>
